body {
  background-color: black;
  font-family: helvetica;
  color: white;
}
header {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #6495ED;
  margin: 0 auto 2px auto;
  padding: 4px 0 0 0;
}
h1 {
}
h2 {
  text-decoration: underline;
  margin: 15px auto 0 auto;
}
h3 {
  margin: 30px auto 0 auto;
}
h4 {
}
a {
  color: white;
}
.onglets li {
    display: inline;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.onglets ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.onglets-wrapper {
  text-align: center;
  background-color: black;
  margin-top: 5px;
  }
img {
  height: 600px;
  width: 100%;
}
p {
  font-family: helvetica;
}
.LogoRight, .LogoLeft {
  width: 150px;
  height: 100%;
  border-bottom: 6px solid black;
}
.LogoRight {
  right: 0;
  float: right;
  border-left: 6px solid black;
}
.LogoLeft {
  left: 0;
  float: left;
  border-right: 6px solid black;
}
.rank{
  padding-top: 25px;
}
