body {
  background-color: #6080FF;
  font-family: helvetica;
  color: white;
}
h1 {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: center;
  border: 6px solid black;
}
h2 {
  text-decoration: underline;
  margin: 15px auto 0 auto;
}
h3 {
  margin: 30px auto 0 auto;
}
h4 {
}
a {
  color: white;
}
.onglets li {
    display: inline;
    text-align: center;
    color: white;
}
.onglets ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.onglets-wrapper {
  text-align: center;
  background-color: black;
  }
img {
  height: 600px;
  width: 1270px;
}
p {
  font-family: helvetica;
}
.LogoRight, .LogoLeft {
  width: 150px;
  height: 125px;
  margin-top: 35px;
  border: 6px solid black;
}
.LogoRight {
  float: right;
  margin-right: 220px;
}
.LogoLeft {
  float: left;;
  margin-left: 220px;
}
.rank{
  padding-top: 25px;
}
