body {
  background-color: #6495ED;
  color: white;
}
h1 {
  padding: 0 0 0 0;
  margin: 15px auto 0 auto;
  text-align: center;
  color: white;
  border: 6px solid black;
}
h2 {
  color: white;
  text-decoration: underline;
  margin: 30px auto 0 auto;
}
a {
  color: white;
}
